.container.proto-new
  = form_for @prototype, url: { action: :update, id: @prototype } do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          .cover-image-upload{ style: "background: url(#{@prototype.set_main_thumbnail}) no-repeat center center; background-size: contain;" }
            = f.fields_for :captured_images, @prototype.captured_images.main do |image|
              = image.file_field :content
              = image.hidden_field :status, value: "main"

          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
            - 3.times do |i|
              = f.fields_for :captured_images, @prototype.captured_images.sub[i] do |image|
                - if image.index <= 3
                  %li.list-group-item.col-md-4
                    .image-upload{ id: "sub_image_#{i}_uploader", style: "background: url(#{@prototype.set_sub_thumbnail(i)}) no-repeat center center;" }
                      %img{ src: "" }
                      = image.file_field :content
                      = image.hidden_field :status, value: "sub"
                      - if @prototype.captured_images.sub[i].blank?
                        = image.hidden_field :id, value: ""

      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
        -# .col-md-12
        -#   %h4 Tag List
        -#   .row
        -#     .col-md-3
        -#       %input{:type => "text", :placeholder => "Web Design"}/
        -#     .col-md-3
        -#       %input{:type => "text", :placeholder => "UI"}/
        -#     .col-md-3
        -#       %input{:type => "text", :placeholder => "Application"}/
      .row.text-center.proto-btn
        = f.submit "UPDATE", id: "button", class: "btn btn-lg btn-primary btn-block"
